body,html{
    margin: 0;padding: 0;
    overflow: hidden;
}
body:-webkit-scrollbar,html:-webkit-scrollbar{
    /* scroll滚动条设置 */
    width: 0px;
    height: 0px;
    background-color: #fff;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    background: black;
    perspective: 1000px;/*场景景深*/
}
.container:before{
    content: "";
    display: table;
}
@keyframes myrotate{
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
.container > .album{
    width: 100px;
    height: 120px;
    margin: 240px auto;
    position: relative;
    transform-style:preserve-3d; /*设置场景风格*/
}
.my-rotate{
    animation:myrotate 8s infinite linear;
}
.container>.album>img{
    position: absolute;
    -webkit-box-reflect: below 5px -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 30%,rgba(250,250,250,0.3));
}
.mp3-box{
    display: flex;
    justify-content: center;
    align-items: center;
}